@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
    --primary-color: rgb(41, 33, 33);
    --secondary-color: #ff6600;
    --tertiary-color: rgb(199, 199, 199);
    --quaternary-color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Souce Sans Pro", sans-serif;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.skip__button {
    position: absolute;
    top: -50px;
    left: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-decoration: none;
    padding: 10px;
    z-index: 999;
    font-size: 1rem;
}

.main__content {
    height: fit-content;
    width: 100%;
}

.skip__button:focus {
    top: 0;
}

.navbar {
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    height: 6rem;
    z-index: 99;
    box-shadow: 0px 5px 50px rgb(199, 199, 199);
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 6rem;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
}

.navbar__toggle {
    background-color: var(--primary-color);
    color: var(--primary-color);
    border: none;
}

#navbar__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    color: var(--secondary-color);
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 5rem;
}

.navbar__links {
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    width: 9rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}

.container {
    margin: 0px 30px 100px;
    font-family: "Poppins", sans-serif;
}

.jumbotron {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron img {
    width: 1024px;
    height: auto;
}

.jumbotron__textbox a {
    cursor: pointer;
}

.jumbotron__textbox a h1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 30%;
    left: 15.5%;
    bottom: 30%;
    width: 70%;
    border: none;
    border-radius: 60px;
    outline: none;
    background-color: #fff;
    font-size: 3rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: all 0.42s;
}

.jumbotron__textbox a h1:hover {
    color: var(--quaternary-color);
    background-color: var(--secondary-color);
    transform: scale(0.94);
    transition: all 0.38s;
}

.main__header h2 {
    text-align: center;
    font-size: 2rem;
    padding-top: 90px;
    margin-bottom: 30px;
    color: var(--primary-color);
}

.restaurant__list {
    margin-top: 0 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.restaurant__item {
    text-decoration: none;
}

.restaurant__detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1024px;
}

.restaurant__detail img {
    margin-top: 20px;
    width: 80%;
    border-radius: 20px;
    height: auto;
}

.restaurant__rating__city {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 30px;
}

.restaurant__rating,
.restaurant__city {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.restaurant__rating h4,
.restaurant__city h4 {
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    padding: 10px 30px;
    background-color: #fff;
    font-size: 1.5rem;
    box-shadow: 2px 2px 6px var(--primary-color);
}

.restaurant__rating h4 {
    display: flex;
    flex-direction: row;
}

.restaurant__info {
    margin-top: 30px;
    text-align: justify;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    padding: 30px;
    background-color: #fff;
    font-size: 1.5rem;
    box-shadow: 2px 2px 6px var(--primary-color);
    width: 100%;
}

.restaurant__info h4 {
    margin-bottom: 10px;
}

.food__beverage__menu {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.food__menu,
.beverage__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.food__menu {
    margin-right: 12.5px;
}

.beverage__menu {
    margin-left: 12.5px;
}

.food__menu h4,
.beverage__menu h4 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 2rem;
}

.food__menu p,
.beverage__menu p {
    display: flex;
    justify-content: center;
    width: 100%;
}

.food__menu,
.beverage__menu {
    margin-top: 30px;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    padding: 30px 0px;
    background-color: #fff;
    font-size: 1.5rem;
    box-shadow: 2px 2px 6px var(--primary-color);
}


.review__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    text-align: justify;
    width: 100%;
}

.review__menu h4 {
    font-size: 2rem;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 5px solid var(--secondary-color);
    width: 20%;
}

.review__content h5 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.review__content {
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    padding: 15px 0px;
    margin: 5px 0 20px;
    background-color: #fff;
    box-shadow: 2px 2px 6px var(--primary-color);
    width: 100%;
}

.review__content p {
    text-align: right;
    position: relative;
    right: 25px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 16px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 24px 12px;
    height: 100%;
    transition: all 0.3s ease;
}

article:hover {
    transform: scale(1.075);
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-weight: 700;
    transition: all 0.3s ease;
}

article img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.article__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 13px;
    text-align: center;
    width: 100%;
}

.article__rating__city {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.article__rating__city p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.article__rating__city .material-icons-outlined {
    color: rgb(247, 247, 0);
    font-size: inherit;
}

.material-icons-outlined {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(247, 247, 0);
    font-size: inherit;
}

footer p {
    background: var(--primary-color);
    color: var(--secondary-color);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}


.like {
    font-size: 18px;
    position: fixed;
    bottom: 50px;
    right: 16px;
    background-color: #db0000;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}